body{
    margin:0px;
    padding:0px;
    -moz-user-select:none;
}
.menu ul{
    width:300px;
    list-style:none;
}
.menu a {
    display:inline-block;
    height:0;
    overflow:visible;
}
.center .menu ul li{
    width:140px;
    float:left;
    margin-right:5px;
    line-height:20px;
}
.body {
    position: relative;
    background:url(../images/fox.jpg);
}
.page {
    background:rgba(0,0,0,0.5);
}

.center {
    position: absolute;    
}
.top {
    position:fixed;
    height:25px;
    line-height:25px;
    background:rgba(0,0,0,0.8);
    color:#fff;
    top:10px;
    left:0;
    overflow:hidden;
    padding:0 10px;
}
.top a {
    float:left;
    color:#fff;
}
.top li b {
    float:left;
    display:inline-block;
    width:10px;
    height:10px;
    background:url(../images/index_arrow_right.png) center center no-repeat;
    background-size: 100% 100%;
    margin:8px 0 0 8px;
}
.footer {
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
}
.footer .news {
    float:left;
    width:70%;
    padding:10px;
}
.footer .news ul {
    list-style:none;
    height:21px;
    line-height:21px;
    overflow:hidden;
    background:url(../images/index_footer_news_bg.png) left center no-repeat;
    background-size: 20px 20px;
    padding-left:30px;
    color:#fff;
}
.footer .menu ul li {
    width:100px;
}
.footer a {
    color:#fff;    
}
.logo {
    position:absolute; 
    right:0;
    bottom:0;
    padding:10px;
}
